SUPABASE_URL=your_supabase_project_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
MODEL_PATH=backend/models/best.pt
FRONTEND_ORIGIN=https://purityloop-ai.vercel.app
ALLOWED_ORIGINS=http://localhost:3000,https://purityloop-ai.vercel.app
GOOGLE_DRIVE_UPLOADED_IMAGES_FOLDER_ID=1oLPhVOBqflPjzQ6wQFq2FVZEj35PFhVd
GOOGLE_OAUTH_CLIENT_SECRET_FILE=backend/google-oauth-client.json
GOOGLE_OAUTH_TOKEN_FILE=backend/google-oauth-token.json
GOOGLE_OAUTH_REDIRECT_URI=https://capstone-web-backend.onrender.com/api/google/callback
