SUPABASE_URL=your_supabase_project_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
MODEL_PATH=backend/models/best.pt
GOOGLE_DRIVE_RAW_UPLOADS_FOLDER_ID=1oLPhVOBqflPjzQ6wQFq2FVZEj35PFhVd
GOOGLE_DRIVE_REVIEW_FAILED_FOLDER_ID=1lwUNTkkSUyBCYSARbhh_3Kc7VCW4Of14
