fastapi
uvicorn
python-multipart
python-dotenv
httpx
supabase
ultralytics
opencv-python-headless
pillow
numpy
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
openpyxl
reportlab
